.timeline-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.timeline-wrapper * {
    user-select: none;
}

.timeline-wrapper .timeline-controls {
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    border-bottom: 1px solid var(--spectrum-global-color-gray-300);
}

.timeline {
    --scrollbar-width: 8px;

    flex: 1;
    display: flex;
    flex-direction: row;

    --line-color: var(--spectrum-global-color-gray-600);
    --selected-color: var(--spectrum-semantic-cta-color-background-default);

    --item-height: 22px;
    --item-background: transparent;
    --keyframe-size: 12px;

    background: var(--spectrum-global-color-gray-100);
}

.timeline, .timeline * {
    box-sizing: border-box;
}

.timeline .timeline-elements {
    width: 240px;
    border-right: 1px solid var(--spectrum-global-color-gray-300);
    border-bottom: var(--scrollbar-width) solid transparent;
}

.timeline .timeline-keyframes {
    position: relative;
    flex: 1;
}

.timeline .timeline-items-wrapper {
    position: relative;
    min-width: 100%;
    /* this gives the width */
    width: calc(var(--timeline-max-offset) * var(--timeline-ms-unit));
}

.timeline .timeline-item {
    height: var(--item-height);
    max-height: var(--item-height);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline .timeline-keyframes .timeline-item.timeline-middle-line {
    background: linear-gradient(
            to bottom,
            var(--item-background) 0%,
            var(--item-background) calc(50% - 0.5px),
            var(--line-color) calc(50% - 0.5px),
            var(--line-color) calc(50%),
            var(--line-color) calc(50% + 0.5px),
            var(--item-background) calc(50% + 0.5px),
            var(--item-background) 100%
    );
}

.timeline .timeline-item.is-selected {
    background: var(--selected-color);
}

.timeline .timeline-keyframes .timeline-item {
    position: relative;
    min-width: 100%;
    padding-left: calc(var(--keyframe-size) / 2);
}

.timeline-item .timeline-keyframe {
    z-index: 2;
    position: absolute;
    left: 0;
    --keyframe-offset: 0;
    transform: translateX(calc(var(--keyframe-offset) * var(--timeline-ms-unit)));
    width: var(--keyframe-size);
    height: var(--keyframe-size);
    border-radius: 50%;
    border: 1px solid var(--spectrum-global-color-gray-100);
    background: var(--spectrum-global-color-gray-800);
}

.timeline-item .timeline-keyframe:hover,
.timeline-item .timeline-keyframe.is-selected {
    z-index: 7;
    background: var(--selected-color);;
    box-shadow: 0 0 2px 0 var(--selected-color);
}

.timeline-item .timeline-easing {
    z-index: 1;
    position: absolute;
    left: 0;
    --keyframe-easing-start: 0;
    --keyframe-easing-end: 0;
    transform: translateX(calc(var(--keyframe-size) / 2 + var(--keyframe-easing-start) * var(--timeline-ms-unit)));
    width: calc((var(--keyframe-easing-end) - var(--keyframe-easing-start)) * var(--timeline-ms-unit));
    height: calc(var(--keyframe-size) / 3);
    background: var(--line-color);
}

.timeline-item .timeline-easing.is-selected {
    background: var(--selected-color);
}

.timeline-item .timeline-local-marker {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;

    --marker-offset: 0;
    --marker-length: 0;
    --marker-lines: 0;

    transform: translateX(calc(var(--keyframe-size) / 2 + var(--marker-offset) * var(--timeline-ms-unit)));
    width: calc(var(--marker-length) * var(--timeline-ms-unit));
    height: calc(var(--marker-lines) * var(--item-height));
}

.timeline-local-marker .timeline-marker-text {
    user-select: none;
    max-width: 100%;
    line-height: var(--item-height);
    vertical-align: center;
    font-size: x-small;
    max-height: var(--item-height);
    padding: 0 calc(var(--keyframe-size) / 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    background: none;
}

.timeline .timeline-selection-rect {
    z-index: 4;

    position: absolute;
    top: 0;
    left: 0;
    background: var(--spectrum-global-color-indigo-700);
    opacity: 0.75;
}

.timeline .timeline-play-line {
    z-index: 5;
    --timeline-play-line-size: 1px;
    width: var(--timeline-play-line-size);
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: var(--timeline-scroll-top);
    bottom: calc(0px - var(--timeline-scroll-top));
    left: calc((var(--keyframe-size) - var(--timeline-play-line-size)) / 2);
    transform: translateX(calc(var(--timeline-play-offset) * var(--timeline-ms-unit)));
    background: var(--spectrum-global-color-red-400);
    will-change: top, bottom, transform;
}
