html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}


/*sp-split-view[vertical] {*/
/*    --spectrum-dragbar-gripper-height: 0;*/
/*    --spectrum-dragbar-gripper-border-width-vertical: 0;*/
/*}*/