html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

sp-action-group.very-small sp-action-button {
    --spectrum-actionbutton-s-textonly-padding-left: var(--spectrum-alias-border-size-thin);
    --spectrum-actionbutton-s-textonly-padding-right: var(--spectrum-alias-border-size-thin);
    --spectrum-actionbutton-s-min-width: var(--spectrum-global-dimension-size-300);
}

/*sp-split-view[vertical] {*/
/*    --spectrum-dragbar-gripper-height: 0;*/
/*    --spectrum-dragbar-gripper-border-width-vertical: 0;*/
/*}*/