.spectrum-DropIndicator {
    position: relative;
}

.spectrum-DropIndicator:before,
.spectrum-DropIndicator:after {
    content: '';
    position: absolute;
    width: var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150));
    height: var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150));
    border-radius: 50%;
    border: var(--spectrum-dropindicator-border-size, var(--spectrum-alias-border-size-thick)) solid;
    box-sizing: border-box;
}

.spectrum-DropIndicator--horizontal {
    height: var(--spectrum-dropindicator-border-size, var(--spectrum-alias-border-size-thick));
    margin: 0 var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150));
}

.spectrum-DropIndicator--horizontal:before,
.spectrum-DropIndicator--horizontal:after {
    top: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)) / 2 + var(--spectrum-dropindicator-border-size, var(--spectrum-alias-border-size-thick)) / 2);
}

[dir="ltr"] .spectrum-DropIndicator--horizontal:before {
    left: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)));
}

[dir="rtl"] .spectrum-DropIndicator--horizontal:before {
    right: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)));
}

[dir="ltr"] .spectrum-DropIndicator--horizontal:after {
    right: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)));
}

[dir="rtl"] .spectrum-DropIndicator--horizontal:after {
    left: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)));
}

.spectrum-DropIndicator--vertical {
    width: var(--spectrum-dropindicator-border-size, var(--spectrum-alias-border-size-thick));
    margin-top: var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150));
    margin-bottom: var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150));
    margin-left: 0;
    margin-right: 0;
}

[dir="ltr"] .spectrum-DropIndicator--vertical:before,[dir="ltr"]
.spectrum-DropIndicator--vertical:after {
    left: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)) / 2 + var(--spectrum-dropindicator-border-size, var(--spectrum-alias-border-size-thick)) / 2);
}

[dir="rtl"] .spectrum-DropIndicator--vertical:before,[dir="rtl"]
.spectrum-DropIndicator--vertical:after {
    right: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)) / 2 + var(--spectrum-dropindicator-border-size, var(--spectrum-alias-border-size-thick)) / 2);
}

.spectrum-DropIndicator--vertical:before {
    top: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)));
}

.spectrum-DropIndicator--vertical:after {
    bottom: calc(-1 * var(--spectrum-dropindicator-circle-size, var(--spectrum-global-dimension-static-size-150)));
}

.spectrum-DropIndicator {
    background: var(--spectrum-dropindicator-border-color, var(--spectrum-global-color-blue-400));
}

.spectrum-DropIndicator:before,
.spectrum-DropIndicator:after {
    border-color: var(--spectrum-dropindicator-circle-border-color, var(--spectrum-global-color-blue-400));
}
